[submodule "native/tree-sitter"]
	path = native/tree-sitter
	url = https://github.com/Summpot/tree-sitter.git
[submodule "native/parsers/tree-sitter-c"]
	path = native/parsers/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "native/parsers/tree-sitter-cpp"]
	path = native/parsers/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "native/parsers/tree-sitter-lua"]
	path = native/parsers/tree-sitter-lua
	url = https://github.com/Azganoth/tree-sitter-lua
