[submodule "native/sources/tree-sitter"]
	path = native/sources/tree-sitter
	url = https://github.com/Summpot/tree-sitter
[submodule "native/sources/tree-sitter-c"]
	path = native/sources/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "native/sources/tree-sitter-cpp"]
	path = native/sources/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "native/sources/tree-sitter-lua"]
	path = native/sources/tree-sitter-lua
	url = https://github.com/Azganoth/tree-sitter-lua
